* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

span {
  color: #ff004f;
}

.default-padding {
  padding: 10px 10%;
}

.btn {
  color: white;
  font-size: 30px;
  font-weight: 300;
  border: 1px solid #ff004f;
  border-radius: 8px;
  display: inline-block;
  padding: 15px 24px;
}

body {
  background: #080808;
  color: white;
}

.btn:hover {
  background-color: #ff004f;
  transition: 1.5s;
  animation: ease-in-out;
}

/* Navigation Bar */
.nav-bar {
  display: inline-flex;
  min-height: 10vh;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  align-items: center;
  background-color: rgba(31, 30, 30, 0.3);
  z-index: 100;
}

.nav-bar>a {
  font-size: 30px;
  font-weight: 700;
  word-spacing: 12px;
}

.nav-bar a {
  color: white;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  font-size: 18px;
  font-weight: 400;
  position: relative;
}

nav ul li a:hover {
  color: #ff004f;
  transition: ease-in-out 1s;
}

nav ul li a::before {
  content: "";
  height: 3px;
  width: 0;
  background-color: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::before {
  width: 100%;
}

/* End Navigation Bar */

/* Header Section */
#header {
  height: 100vh;
  background-image: url("images/hero-bg-lg.jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

#header p {
  color: white;
  font-size: 60px;
  font-weight: bold;
  z-index: 1;
}

#header a {
  z-index: 1;
  margin-top: 35px;
}

/* End Header Section */

/* About Me */
#about-me {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

#about-me h1 {
  font-size: 65px;
  text-align: center;
}

#about-me p {
  color: white;
  font-weight: bold;
  margin-top: 10px;
  font-size: 20px;
}

.about-me-left {
  flex-basis: 35%;
}

.about-me-right {
  flex-basis: 60%;
}

.about-me-right a {
  display: inline-block;
  margin: 27px 18px 20px 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  position: relative;
}

.about-me-right a::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -7px;
  width: 40px;
  height: 3px;
}

.about-me-right a:hover {
  color: red;
  transition: ease-in-out 1s;
}

.about-me-right a::before {
  content: "";
  height: 3px;
  width: 0;
  background-color: red;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 1s;
}

.about-me-right a:hover::before {
  width: 100%;
}

#about-me img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 12px;
}



/* Services */
#services h1 {
  font-size: 65px;
  text-align: center;
  margin: 50px 0;
}

.service-list div {
  background-color: #262626;
  padding: 30px;
  border-radius: 20px;
  transition: 0.5s;
  height: 340px;
}

.service-list div:hover {
  background-color: #ff004f;
  transform: translateY(-20px);
}

.service-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.service-list div h2,
.service-list div p {
  margin-bottom: 20px;
}

.service-list div a {
  color: white;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

/* My work */

#my-work h1 {
  font-size: 65px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.work-list img {
  width: 100%;
  border-radius: 10px;
}

.work-detail {
  width: 100%;
  position: relative;
  border-radius: 10px;
}

.work {
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
  text-align: center;
}

.work-detail:hover .work {
  height: 100%;
}


.work h3 {
  font-size: 18px;
}

.work p {
  font-size: 14px;
}

.work .fa-up-right-from-square {
  padding: 8px;
  background-color: #fff;
  border-radius: 50%;
  color: #ff004f;
}

#contact-me {
  padding: 50px 0;
}

#contact-me .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact-me .row .col-6 {
  width: 49%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#contact-me .row .col-6 h1 {
  font-size: 65px;
  margin-left: 40px;
  margin-bottom: 15px;
}

#contact-me .row .col-6 .contact-detail {
  display: flex;
  align-items: center;
}

#contact-me .row .col-6 .contact-detail i{
  font-size: 20px;
  color: #ff004f;
  margin-right: 10px;
}

#contact-me .contact i {
  font-size: 20px;
  margin-right: 5px;
  color: #ccc;
}

.download-btn {
  margin-top: 15px;
  padding: 10px;
  width: 150px;
  background-color: transparent;
  border: 1px solid #ff004f;
  border-radius: 5px;
  color: #fff;
  margin-left: 100px;
}

.download-btn:hover {
  background-color: #ff004f;
  transition: 1.5s;
  animation: ease-in-out;
}

#contact-me form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#contact-me form input {
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  background-color: #262626;
  color: #fff;
  border: none;
}

#contact-me form input:nth-child(3) {
  height: 25vh
}

#contact-me form button {
  width: 150px;
  padding: 10px;
  background-color: #ff004f;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
}

#contact-me form button:hover {
  background-color: #d80749;
}